<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title%}{% endblock%} Songbase</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock%}
</head>
  <body>
{% block page_content %}

{% endblock %}
  </body>
</html>
